<!DOCTYPE html>
<html>
  <head>
    <title>Ask a Question</title>
  </head>
  <body>
    <form method="POST" action="">
        <input type="text" name="content" placeholder="Start writing Here "><br><br>
        <input type="submit">
    </form>
  </body>
</html>
